

.titulo{
    padding: 20px;;
}

.imagem{
    height: 225px;
    width: 100%;
    display: block;
}

.card-P{
    width: 100%;
}

.title,.h3{
    text-align: center;
}

.card-body, .title, .card-p, .list-group-item{
    background: #343a40 !important;
    color:#fff;
}

.list-group{
    margin-bottom: 0 !important;
}
.list-group-item{
    font-size: 13px !important;
}

